# Server & Network Configuration
PORT=3000
NODE_ENV=development

# CORS & Authentication Settings
ALLOWED_ORIGIN=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# Database Connection (SQLite en entorno local)
DATABASE_URL="file:./dev.db"

# NextAuth Secrets
NEXTAUTH_SECRET=your_nextauth_secret_here

# Email Service (Resend Integration)
RESEND_API_KEY=your_resend_api_key_here
CONTACT_EMAIL=kimetz.l@hotmail.com
