# Server & Network Configuration
PORT=3000
NODE_ENV=development

# CORS & Authentication Origen Settings
# En producción, especifica el dominio o URL pública autorizada para WebSocket y API (ej. https://tudominio.com)
ALLOWED_ORIGIN=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# Database Connection (SQLite en entorno local por defecto)
DATABASE_URL="file:./dev.db"

# NextAuth Secrets (Generar con: openssl rand -base64 32 en producción)
NEXTAUTH_SECRET=your-super-secret-key-here

# Email Service (Resend Integration - Opcional)
# Si se configura RESEND_API_KEY, los mensajes del formulario de contacto se enviarán automáticamente a tu correo.
RESEND_API_KEY=re_J19qbR34_K2ydLAVAAN71QJmzL2HpDvg6
CONTACT_EMAIL=kimetz.l@hotmail.com
